<!DOCTYPE html>
<html>
<head>
    <title>Budżet Domowy</title>
</head>
<body>
    <h1>Lista Transakcji</h1>
    <a href="/add">Dodaj transakcję</a><br>
    {% if current_user.is_authenticated %}
        <p>Zalogowany jako: {{ current_user.username }}</p>
        <a href="/logout">Wyloguj</a>
    {% else %}
        <a href="/login">Zaloguj</a> | <a href="/register">Zarejestruj</a>
    {% endif %}
    <ul>
        {% for t in transactions %}
            <li>{{ t.type }} | {{ t.category }} | {{ t.amount }} PLN | {{ t.description }}</li>
        {% endfor %}
    </ul>
</body>
</html>